/* build time:Wed Jan 27 2021 19:51:16 GMT+0800 (GMT+08:00)*/
.paint-area canvas{background:#fff;border:1px solid #000}.paint-area a{background:#69c;color:#fff;padding:5px 10px;text-decoration:none}
/* rebuild by neat */