/* build time:Sat Dec 31 2022 21:30:14 GMT+0800 (GMT+08:00)*/
.paint-area canvas{background:#fff;border:1px solid #000}.paint-area a{background:#69c;color:#fff;min-width:100px;padding:5px 10px;text-decoration:none;margin-right:20px}
/* rebuild by neat */