/* build time:Tue Mar 10 2020 10:22:17 GMT+0800 (CST)*/
.paint-area canvas{background:#fff;border:1px solid #000}.paint-area a{background:#69c;color:#fff;padding:5px 10px;text-decoration:none}
/* rebuild by neat */