/* build time:Wed Jan 27 2021 20:06:42 GMT+0800 (GMT+08:00)*/
.footer{margin-left:380px;height:44px;line-height:44px;color:#999;text-align:center;font-size:13px}.footer a{color:#999;text-decoration:underline}@media screen and (max-width:960px){.footer{margin-left:0;padding-bottom:44px}}
/* rebuild by neat */