/* build time:Wed Jan 22 2025 16:22:22 GMT+0800 (中国标准时间)*/
.footer{margin-left:380px;height:44px;line-height:44px;color:#999;text-align:center;font-size:13px}.footer a{color:#999}.footer a:hover{text-decoration:underline}.footer.hide{display:none}@media screen and (max-width:960px){.footer{margin-left:0;padding-bottom:44px}}
/* rebuild by neat */